
<link rel="stylesheet" href="/css/header.css">

<header id="head">
    <div id="logo"></div>
    <ul>
        <a href="http://localhost:8000/" class="link"><li>Home</li></a>
        <li>Contact</li>
        <li>Support</li>
        <li>Workspace</li>
        <a href="http://localhost:8000/users/sign-up" class="link"><li>Register</li></a>
        
    </ul>
</header>