<link rel="stylesheet" href="/css/signin.css">

<div id="outer">
    <div id="inner">
    <h1 id="sign">Sign In</h1>

    <form action="/users/create-session" method="POST" id="form-sign">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" required>
        <label for="email">Password</label>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Sign In" id="sign-in">

    </form>
    </div>
    
</div>