<link rel="stylesheet" href="/css/user_profile.css">

<div id="content-Page">

  <h1 id="heading">
    Profile Page 
  </h1>
  <h2>You are logged in.</h2>

  <p class="name">Name: <%= user.name %></p>

  <p class="name">Email: <%= user.email %></p>
</div>